body {
    margin:0;
    font-family: Helvetica;
    }

div.listing {
  position: absolute;
  background-color: #c4c4c4;
  left    : 150px;
  top     : 70px;
  padding : 0px;
  margin  : 0px;
}
div.menu{
  position: absolute;
  height  : 50px;
  width   :99.5%;
  top     :  0px;
  left    :  0px;
  margin  :  0px;
  padding :  0px;
  background-color: #c4c4c4;
}

h4 {
  position: absolute;
  top     :0px;
  padding : 15px;
  margin  : 0px;
}

table {
 font-family : Helvetica;
 border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #595959;
  color: white;
}

table tr:nth-child(even){background-color: #f2f2f2;}


table tr:hover {background-color: #888;}

#td_id{
}

#th_id{
}

.top-menu-ul {
    list-style-type: none;
    margin-top: -50px;
    padding: 0;
    overflow: hidden;
    background-color: #c6c6c6;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 98;
    transition: margin-top .5s;
}

.top-menu {
    float: left;
    width: 200px;
}

.top-menu-select {
    position: fixed;
    right: 20px;
    width: 50px;
    top: 0px;
    z-index:99;
}

.top-menu a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
    transition: 0.3s;
}

.top-menu-select a{
    display: block;
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 170%;
    font-weight: bold;
    height: 50px;
}

.top-menu a:hover:not(.active-top) {
    background-color: #a5a5a5;
}

.active-top {
    background-color: #595959;
    color: #595959;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: #a5a5a5;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.Setting_popup {
  position: relative;
  margin: 0px;
  padding:20px;
  background-color:#595959;
  z-index:1;
}

.close_btn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  margin-right: 8px;
  font-size: 36px;
  line-height: 32px;
  cursor: pointer;
  top:-40px;
}

.close_btn:hover{
  color: red;
}

.popup_name_field{
  margin-left: 10px;
  color: white;
  font-weight: bold;
  float: left;
  font-size: 14px;
  line-height: 32px;
  top:-40px;
}

.popup {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index:1;
  background-color:#c6c6c6;
  box-shadow: 10px 10px 5px grey;
  border-width: 2px;
  border-color: #595959;
  border-style: solid;
  border-radius: 5px;
}


.popup .popuptext {
  top: 10px;
  z-index: 2;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.sendBtn{
  border: 2px solid #595959;
  cursor: pointer;
  border-radius: 7px;
  margin: 20px;
  float: right;
  font-family: Helvetica;
}

.upDownTabl{
  background-color:#c6c6c6;
  border: 0px;
}

.upDownTabl:hover{
  background-color:#c6c6c6; 
}

 .cardNav {
   height: 600px;
   width : 94%;
   margin: auto;
   margin-top: 20px;
 }
 
 .cardNav_Top_outer {
   position: relative;
   height  : 30px;
   margin  : 0;
   z-index : 3;
 }
 
 .cardNav_Top_placeHolder {
   position:relative;
   float:left;
   border:0px;
   margin:0;
   height:70%;
   top:25%;
   width:10px;
 }
 
 .cardNav_Top_inner {
   position:relative;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
   float:left;
   border:1px solid black;
   margin:0;
   margin-left:2px;
   margin-right:2px;
   padding-left: 3px;
   padding-right:3px;
   height:70%;
   top:25%;
 }
 
  .cardNav_Top_inner:hover {
    cursor: pointer;
    height: 90%;
    top: 5%;
    transform: 0.2s;
 }
 
 .cardNav_Top_active {
   position:relative;
   float:left;
   border:1px solid black;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
   border-bottom:0px;
   margin:0;
   margin-left:2px;
   margin-right:2px;
   padding-left: 3px;
   padding-right:3px;
   height:100%;
   top:0%;
 }
 
 .cardNav_main{
    position:relative;
    border:1px solid black;
    border-radius: 5px;
    height:400px;
    margin:0px;
    z-index:2;
    background-color: #ddd;
    padding: 10px;
  }


.switchBtn {
  position: relative;
  float: right;
  right: 10px;
  top: -10px;
  display: inline-block;
  width: 64px;
  height: 28px;
  z-index: 99;
  overflow: hidden;
  cursor: pointer;
}

.switchBtn input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #595959;
  transition: .4s;
}

input:checked + .slider {
  background-color: #595959;
}

input:focus + .slider {
  box-shadow: 0 0 1px #595959;
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-text {
  position: absolute;
  width: 200%;
  margin-top:-1px;
}

.slider-text:before, .slider-text:after {
  width: 40%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-text:after {
  content: "Del";
  padding-right: 10px;
  padding-left:10px;
  color: #999999;
  text-align: right;
  margin-left: 20px;
}

.slider-text:before {
  content: "Add";
  padding-left: 10px;
  color: #FFFFFF;
  margin-left: -53px;
}

input:checked ~ .slider-text:before{
 margin-left: -24px;
}

input:checked ~ .slider:before{
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
  background-color: white;
}
